<header th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <nav class="main-nav">

            <ul>
                <li><a href="/">DailyTasks</a></li>
            </ul>


            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/task">Tasks</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>


            <div class="auth-buttons" sec:authorize="isAnonymous()">
                <a href="/users/login" class="btn-link">Login</a>
                <a href="/users/register" class="btn-link">Register</a>
            </div>

            <div class="auth-buttons" sec:authorize="isAuthenticated()">
                <form
                        th:action="@{/users/logout}"
                        th:method="POST"
                >
                    <button type="submit" class="btn-logout btn-primary">Logout</button>
                </form>
            </div>
        </nav>
    </div>
</header>



<footer th:fragment="footer">
    © 2025 DailyTasks
</footer>


