* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
