/* nav container*/

.container nav {
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}






/* Buttons */



.btn {
    all: unset;
    padding: 1.4rem 1.4rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #252629;
    text-align: center;

}

.btn-primary {
    background-color: #c0392b;
    color: #fff;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-link {
    color: #fff;
    background-color: #c0392b;
    padding: 0.7rem 0.7rem;
    border-radius: 1000px;
    transition: all 0.2s;
}

.btn-link:hover {
    background-color: #c0392b;
}

nav .auth-buttons {
    margin: 1rem 1rem;
}


.btn-add {
    background-color: #252629;
    color: white;
    font-size: 0.9rem;
}


.btn-secondary {
    background-color: #ccc;
}

.btn-danger {
    background-color: #c0392b;
    color: white;
}

.btn-small {
    font-size: 0.85rem;
    padding: 0.4rem 0.7rem;
}

.btn-logout {
    all: unset;
    padding: 0.7rem 0.7rem;
    border-radius: 1000px;
    transition: all 0.2s;
    background-color: #c0392b;
    color: white;
}




/* Card */
.card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}


.card h2 {
    text-align: center;
    margin-bottom: 2rem;
}


/* Forms */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

input {
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: var(--primary);
}


/* ul li */

ul {
    display: flex
}

ul li {
    list-style: none;
    margin: 0.8rem;
}



/* paragraph Register & Login */
.auth-link {
    margin-top: 1rem;
    text-align: center;
}


.auth-link a {
    color: #252629;
    text-decoration: solid;
    font-weight: bold;
}


/* terms policy */
.terms {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* alert messages */
.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}