<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main>
    <div class="card">

        <div th:if="${successMessage}" class="alert alert-success">
            <span th:text="${successMessage}"></span>
        </div>
        <h2>LOGIN</h2>

        <form
            th:method="POST"
            th:action="@{/users/login}"
        >
            <label for="email">Email</label>
            <input
                    type="email"
                    name="username"
                    required minlength="5" maxlength="20"
            >

            <label for="password">Password</label>
            <input
                    type="password"
                    name="password"
                    required minlength="5" maxlength="20"
            >

            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <p class="auth-link">
           Not registered yet?
            <a href="/users/register">Register</a>
        </p>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>


</body>
</html>
