<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>



<header th:replace="fragments/commons::nav"></header>



<main>
    <div class="card">
        <h2>CREATE ACCOUNT</h2>


        <div th:if="${errorMessage}" class="alert alert-danger ">
            <span th:text="${errorMessage}"></span>
        </div>


        <form th:action="@{/users/register}"
              th:object="${registerDTO}"
              th:method="POST">

            <label>First name</label>
            <input
                    th:field="*{firstName}"
                    type="text"
                    th:errorclass="'is-invalid alert-danger'"
                    required minlength="2" maxlength="20"
            >

            <label>Last name</label>
            <input
                    th:field="*{lastName}"
                    type="text"
                    required minlength="2" maxlength="20"
            >

            <label>Email</label>
            <input
                    th:field="*{email}"
                    type="email"
                    required minlength="5" maxlength="20"
            >

            <label>Password</label>
            <input
                    th:field="*{password}"
                    type="password"
                    required minlength="4" maxlength="20"
            >

            <label>Confirm password</label>
            <input
                    th:field="*{confirmPassword}"
                    type="password"
                    required minlength="4" maxlength="20"
            >

        
            <div class="terms">
                <input type="checkbox" required>
                <label>
                    <a href="/">I accept the Terms and Conditions and the Privacy Policy</a>
                 </label>
            </div>

            <button class="btn btn-primary">Register</button>
        
        </form>

        <p class="auth-link">
            Already have an account?
            <a href="/users/login">Login</a>
        </p>
    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>
