<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/task.css">
</head>

<body class="page-tasks">

<header th:replace="fragments/commons::nav"></header>


    <main>
        <div class="tasks-container">

            <div class="tasks-toolbar">
                <h2>Your Tasks</h2>
                <button class="btn btn-add" id="addTaskBtn" >+ Add</button>
            </div>

            <div id="addTaskForm" class="task-card hidden">
                <h3>Add New Task</h3>

                <form class="task-form">
                    <input type="text" placeholder="Title" required>
                    <input type="text" placeholder="Description" required>
                    <input type="date" required>

                    <div class="form-buttons">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" id="cancelAddTaskBtn">Cancel</button>
                    </div>
                </form>
            </div>

            <div class="task-card">
                <div class="task-header">
                    <h3>Finish Spring project</h3>
                    <span class="task-date">2025-01-10</span>
                </div>

                <p class="task-desc">
                    Complete entities, controllers and UI.
                </p>

                <div class="task-actions">
                    <label>
                        <input type="checkbox">
                        Completed
                    </label>

                    <div class="task-buttons">
                        <button class="btn btn-small">Edit</button>
                        <button class="btn btn-danger btn-small">Delete</button>
                    </div>
                </div>
            </div>

        </div>
    </main>

<footer th:replace="fragments/commons::footer"></footer>



<script src="/js/tasks.js"></script>


</body>

</html>