<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/task.css">
</head>

<body class="page-tasks">

<header th:replace="fragments/commons::nav"></header>


<main>
    <div class="tasks-container">

        <div class="tasks-toolbar">
            <h2>Your Tasks</h2>

            <div th:if="${errorMessage}" class="alert alert-danger ">
                <span th:text="${errorMessage}"></span>
            </div>

            <div th:if="${successMessage}" class="alert alert-success">
                <span th:text="${successMessage}"></span>
            </div>

            <button class="btn btn-add" id="addTaskBtn">+ Add</button>

        </div>

        <div id="addTaskForm" class="task-card hidden">



            <h3>Add New Task</h3>

            <form
                    th:action="@{/task}"
                    th:object="${taskDTO}"
                    th:method="POST"
                    class="task-form"
            >
                <input
                        th:field="*{title}"
                        type="text"
                        placeholder="Title"
                        required
                >
                <input
                        th:field="*{description}"
                        type="text"
                        placeholder="Description"
                        required
                >
                <input
                        th:field="*{dueDate}"
                        type="date"
                        required
                >

                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" id="cancelAddTaskBtn">Cancel</button>
                </div>
            </form>
        </div>


        <div class="task-card"
             th:each="task : ${tasks}"
        >

            <div class="task-header">
                <h3 th:text="${task.title}"></h3>
                <span class="task-date"
                      th:text="${task.dueDate}">
                </span>
            </div>

            <p class="task-desc"
               th:text="${task.description}">
            </p>

            <div class="task-actions">
                <label>
                    <input
                            type="checkbox"
                            th:checked="${task.completed}"

                    >
                    Completed
                </label>

                <div class="task-buttons">

                    <form
                            th:action="@{/task/delete/{id}(id=${task.id})}"
                            th:method="POST"
                            style="display:inline"
                    >
                        <button class="btn btn-danger btn-small">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>


<script src="/js/tasks.js"></script>


</body>

</html>